body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
}

.h2 {
    background-color: #3D215C;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    height: 50px;
    animation: spinIn 1s ease-out; /* animate logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(35, 80, 131);
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  color: #FCF2F2; 
  padding: 40px;
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* black overlay */
}

.hero * {
  position: relative;
  z-index: 1; /* keep text above the overlay */
}

.hero h1, 
.hero p, 
.profile-pic {
  animation: fadeIn 2s ease-in-out;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
}


/* Footer */
footer {
    background-color: #fff9f9;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    border: 2px solid rgb(35, 80, 131);
}

footer p {
    color: rgb(35, 80, 131);
}

h2{
    background-color:rgb(35, 80, 131);
    color: white;
    padding: 10px;
    text-align: center;
}

.video {
    text-align: center;
    margin: 20px;
}

.card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    font-weight: bold;
    margin-top: 10px;
    color: rgb(35, 80, 131);
}
.campuses, .grades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}


@media(max-width: 600px){
    .campuses, .grades {
        grid-template-columns: 1fr;
    }
}

/* ================= Animations ================= */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spinIn {
  from { transform: rotate(-360deg) scale(0); opacity: 0; }
  to { transform: rotate(0) scale(1); opacity: 1; }
}

